<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Main Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link 1</span></a></li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Link2</span></a></li>
    <partial name="_Treeview1" />
    <partial name="_Treeview2" />
</ul>